.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: aliceblue;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 0.5rem;
}
.container-fluid-header{
    padding-top: 2%;
    padding-bottom: 2%;
    /*position: relative;*/
    background-color: aliceblue;
}
.header-name {
    font-size: 750%;
    font-family: URW Chancery L, cursive;
}
.bg {
    background-color: dodgerblue;
}
/*.navbar-nav>li {*/
/*    width: auto;*/
/*    padding-left: 20%;*/
/*    padding-right: 20%;*/
/*}*/
#demo img{
    width: 100%;
}
.logo{
    padding-right: 2%;
}
.profile{
    padding: 4%;
}
.about_header{
    padding-top: 1%;
}
.card {
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
}
#card {
    /*display: table;*/
    margin: 1% auto;
}
.para_font {
    font-size: 200%;
    font-family: Andale Mono, monospace;
}
.list-font {
    font-size: 150%;
    font-family: Andale Mono, monospace;
}
.header-font{
    font-size: xxx-large;
    font-family: Palatino, URW Palladio L, serif;
}